@page
@model ProductenModel

<h1>Producten</h1>

<div>
    <img src="/fotos/ship.jpg" width="200">
    <p><a href="/Onderdelen?besteld=true">Nebuchadnezzar</a></p>
</div>

<div>
    <img src="/fotos/chair.jpg" width="200">
    <p><a href="/Onderdelen?besteld=true">Jack-in Chair</a></p>
</div>

<div>
    <img src="/fotos/emp.jpg" width="200">
    <p><a href="/Onderdelen?besteld=true">EMP Device</a></p>
</div>